**Arithmetic operators**

In [6]:
x=9
y=13
print(x+y)
print(x-y)
print(x*y)
print(y/x)
#floor division
print(y//x)
#modulus
print(25%7)
print(3**2)

22
-4
117
1.4444444444444444
1
4
9

**Relational operators**

In [12]:
a=4
print(a==5)
password="chelsea"
print(password=="chelsea")
print(10>15)
print(10<15)
print(a<=5)
print(a>=5)
print(a!=7)

False
True
False
True
True
False
True

**Assignment Operators**

In [13]:
x=5
x+=3
x-=2
x*=4
x/=3
x//=5
x%=2
print(x)

1.0

**Logical operators**

In [18]:
print(10>5)
print(7<5)
print(10>5 and 7<5)
print(10>5 or 7<5)
print(not 10>5)

True
False
False
True
False

**Membership operators**

In [22]:
print('e' in 'praffull')
print('e' not in 'praffull')
skills=['java','python','sql','windows','spring']
print('mongodb' in skills)

False
True
False

**Ternary operator**

In [23]:
marks=47
result='pass' if marks>=35 else 'fail'
print(result)

pass