In [1]:
a=9
print(type(a))

b=12.57
print(type(b))

c='mission impossible'
print(type(c))

print(a>10)

<class 'int'>
<class 'float'>
<class 'str'>
False

In [2]:
cities=['mumbai','london','chicago','tokyo','dubai']
print(type(cities))

<class 'list'>

In [3]:
countries=('england','france','japan','germany')
print(type(countries))

<class 'tuple'>

In [4]:
subjects={'english','science','maths','history'}
print(type(subjects))

<class 'set'>

In [5]:
film={
    "name":"pk",
    "relyear":2014,
    "language":"hindi",
    "actor":"amir khan",
    "imdbrating":8.7
}
print(type(film))

<class 'dict'>