In [5]:
x=9
a=12.45
b=''
c=True
print(type(c))

<class 'bool'>

In [ ]:
cities=[]
print(type(cities))
cities.append('london')
cities.append('mumbai')
cities.append('dubai')
cities.append('london')
print(cities)

<class 'list'>
['london', 'mumbai', 'dubai', 'london']

In [ ]:
tech=['java','python','sql','spring','pandas']
print(tech)
tech.insert(2,'ai')
print(tech)
tech.remove('java')
print(tech)
tech.clear()
print(tech)

['java', 'python', 'sql', 'spring', 'pandas']
['java', 'python', 'ai', 'sql', 'spring', 'pandas']
['python', 'ai', 'sql', 'spring', 'pandas']
[]

In [2]:
nms=['deu','sparsh','megha','soham','javed']
print(nms)
print(nms.pop())
print(nms)

['deu', 'sparsh', 'megha', 'soham', 'javed']
javed
['deu', 'sparsh', 'megha', 'soham']

In [ ]:
str='technology is power technology is future'
lst=str.split()
print(lst)
print(lst.count('has'))

['technology', 'is', 'power', 'technology', 'is', 'future']
0

In [ ]:
comp=['microsoft','volkswagen','apple','samsung','bmw','dell']
#comp.sort()
comp.sort(reverse=True)
print(comp)

['volkswagen', 'samsung', 'microsoft', 'dell', 'bmw', 'apple']

In [ ]:
comp=['microsoft','volkswagen','apple','samsung','bmw','dell']
comp.reverse()
print(comp)

['dell', 'bmw', 'samsung', 'apple', 'volkswagen', 'microsoft']

In [ ]:
nums=[9,26,1,13,45,79,18,11]
print(type(nums))
nums.sort()
print(nums)

<class 'list'>
[1, 9, 11, 13, 18, 26, 45, 79]

In [1]:
lst=[9,'sparsh',13.26,False]
print(lst)

for i in range(0,4):
  print(type(lst[i]))

[9, 'sparsh', 13.26, False]
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>