create a new list having squares of the numbers in first list

In [ ]:
lst=[9,13,26,1,45,10,30,15,11,25]
sq=[]
for n in lst:
  sq.append(n*n)

print(sq)

[81, 169, 676, 1, 2025, 100, 900, 225, 121, 625]

In [ ]:
lst=[9,13,26,1,45,10,30,15,11,25]
sq=[n*n for n in lst]
print(sq)

[81, 169, 676, 1, 2025, 100, 900, 225, 121, 625]

In [ ]:
lst=['praffull','sharayu','soham']
u=[nm.upper() for nm in lst]
print(u)

['PRAFFULL', 'SHARAYU', 'SOHAM']

create a list of odd numbers from the provided list values

In [ ]:
lst=[9,13,26,1,45,10,30,15,18,25]
odd=[x for x in lst if x%2==1]
print('Odd numbers in the list - ')
print(odd)

Odd numbers in the list -
[9, 13, 1, 45, 15, 25]

In [ ]:
lst=[9,13,26,1,45,10,30,15,18,25]
even=[x for x in lst if x%2==0]
print(even)

[26, 10, 30, 18]

In [ ]:
lst=[9,-13,26,1,45,-10,30,15,-18,25]
neg=[x for x in lst if x<0]
print(neg)

[-13, -10, -18]

numbers fully divisible by 3

In [ ]:
lst=[9,13,26,1,45,10,30,15,18,25]
res=[x for x in lst if x%3==0]
print(res)

[9, 45, 30, 15, 18]

In [ ]:
l1=[2,14,25,57,13]
l2=[1,5,2,13,9,26,14]
common=[x for x in l1 if x in l2]
print(common)

[2, 14, 13]

In [12]:
l1=[2,14,25,57,13]
l2=[1,5,2,13,9,26,14]
uncommon=[x for x in l1 if x not in l2]
print(uncommon)

[25, 57]

In [13]:
nm1=['jos buttler','joe root','mohammed salah','pat cummins']
nm2=['steve smith','ben stokes','joe root','mitchell stark','charles leclerc']
common=[x for x in nm1 if x in nm2]
print(common)

['joe root']