In [7]:
n=int(input('Enter a number : '))
sq=n**2
print(f'square is {sq}')

Enter a number : soham

ValueError: invalid literal for int() with base 10: 'soham'

In [11]:
try:
  n=int(input('Enter a number : '))
except:
  print('invalid input...please enter a number')
  n=0

sq=n**2
print(f'square is {sq}')

Enter a number : praffull
invalid input...please enter a number
square is 0

In [14]:
nm=input('Enter customer name : ')
amount=float(input('Enter purchase amount : '))
discount=amount*9/100
bill=amount-discount
print(f'Customer Name : {nm}')
print(f'Amount : {amount}')
print(f'Discount : {discount}')
print(f'Net Bill : {bill}')

Enter customer name : praffull
Enter purchase amount : mumbai

ValueError: could not convert string to float: 'mumbai'

In [17]:
nm=input('Enter customer name : ')
try:
  amount=float(input('Enter purchase amount : '))
except ValueError:
  print('invalid amount...reset to zero')
  amount=0

discount=amount*9/100
bill=amount-discount
print(f'Customer Name : {nm}')
print(f'Amount : {amount}')
print(f'Discount : {discount}')
print(f'Net Bill : {bill}')

Enter customer name : sharayu
Enter purchase amount : london
invalid amount...reset to zero
Customer Name : sharayu
Amount : 0
Discount : 0.0
Net Bill : 0.0

In [18]:
film={
    'name':'sholay',
    'genre':'action',
    'year':1975,
    'language':'hindi',
    'director':'ramesh sippy',
    'actor':'amitabh bachchan',
    'imdbrating':7.9
}

In [22]:
key=input('Enter key : ')
print(film[key])

Enter key : actress

KeyError: 'actress'

In [26]:
key=input('Enter key : ')
try:
  print(film[key])
except KeyError:
  print('information not available')

Enter key : actress
information not available

In [27]:
lst=['microsoft','oracle','google','samsung','apple']

In [31]:
i=int(input('Enter index : '))
print(lst[i])

Enter index : 9

IndexError: list index out of range

In [32]:
i=int(input('Enter index : '))
print(lst[i])

Enter index : dell

ValueError: invalid literal for int() with base 10: 'dell'

In [35]:
try:
  i=int(input('Enter index : '))
  print(lst[i])
except ValueError:
  print('invalid index number')
except IndexError:
  print('Element not found')

Enter index : 12
Element not found