Function without parameters

In [2]:
def welcome():
  print('Welcome to SohamGlobal')
  print('-'*35)

In [3]:
welcome()

Welcome to SohamGlobal
-----------------------------------

Function with parameter

In [4]:
def thanks(nm):
  print(f'thanks {nm} for joining us')

In [5]:
thanks('sparsh')
thanks('deu')
#thanks(12345)

thanks sparsh for joining us
thanks deu for joining us

Function with type hints

In [6]:
def add(x: int,y: int):
  res=x+y
  print(f'sum of {x} and {y} is {res}')

In [7]:
add(12,23)
add('spider','web')

sum of 12 and 23 is 35
sum of spider and web is spiderweb

Function with Return type

In [17]:
def calcsqr(n:int):
  sq=n*n
  #print(f'square of {n} is {sq}')
  return sq

In [ ]:
s=calcsqr(12)
print(f'square is {s}')

if s%2==1:
  print('result is odd')
else:
  print('result is even')

square is 144
result is even

Function with default parameter value

In [23]:
def greet(usernm='sharayu'):
  print(f'Hi {usernm}, hope you are fine.')

In [26]:
greet('pat cummins')
greet('jos buttler')
greet()

Hi pat cummins, hope you are fine.
Hi jos buttler, hope you are fine.
Hi sharayu, hope you are fine.

In [27]:
def sayhello(nm,city='london'):
  print(f'hello {nm} attending from {city}')

In [29]:
sayhello('praffull')
sayhello('shailaja','dubai')

hello praffull attending from london
hello shailaja attending from dubai

Function with variable arguments

In [37]:
def sum_all(*numbers):
  print(type(numbers))
  return sum(numbers)

In [38]:
res=sum_all(23,45,56)
print(f'sum is {res}')

res=sum_all(5,1,7,11,4,9)
print(f'sum is {res}')

<class 'tuple'>
sum is 124
<class 'tuple'>
sum is 37

In [39]:
def goodbye(*studnm):
  for nm in studnm:
    print(f'Good bye {nm}')

In [41]:
goodbye('aditi','praffull','soham','sharayu')

Good bye aditi
Good bye praffull
Good bye soham
Good bye sharayu

**Function with multiple return values**

In [42]:
def ops(x,y):
  return x+y, x-y, x*y

In [43]:
res=ops(9,13)
print(res)

(22, -4, 117)