In [3]:
def calcsqr(n):
  sq=n**2
  return sq

In [4]:
s=calcsqr(13)
print(f'square is {s}')

square is 169

Lambda functions - one line no name functions

In [5]:
square=lambda n:n**2

In [7]:
print(square(9))
print(square(23))

81
529

In [8]:
add=lambda a,b: a+b

In [9]:
print(add(36,58))

94

In [10]:
discount=lambda amount: amount*10/100

In [11]:
print(discount(5700))

570.0

MAP - will take all elements from the list

In [12]:
numbers=[1,2,3,4,5]
sq=list(map(lambda x:x**2, numbers))
print(sq)

[1, 4, 9, 16, 25]

In [13]:
numbers=[12,65,22,49,87,15]
res=list(map(lambda x: x*5,numbers))
print(res)

[60, 325, 110, 245, 435, 75]

FILTER - take only those elements which satisfy the given condition

In [14]:
nums=[1,2,3,4,5,6,7,8,9]
odd=list(filter(lambda x:x%2==1,nums))
print(odd)

[1, 3, 5, 7, 9]

In [16]:
nums=[12,75,25,49,29,84,69,15]
res=tuple(filter(lambda x:x%7==0,nums))
print(res)

(49, 84)

REDUCE - summary result

In [20]:
from functools import reduce
lst=[1,2,3,4,5]
sum=reduce(lambda x,y:x+y,lst)
print(sum)

15