In [2]:
class One:
  def calcsquare(self,n):
    sq=n*n
    print(f'square of {n} is {sq}')

In [3]:
class Two(One):
  def add(self,a,b):
    res=a+b
    print(f'sum of {a} and {b} is {res}')

In [4]:
class Three(One):
  def multiply(self,x,y):
    res=x*y
    print(f'multiplication of {x} and {y} is {res}')

In [7]:
o2=Two()
o2.add(12,23)
o2.calcsquare(55)
# o2.multiple(4,7)

sum of 12 and 23 is 35
square of 55 is 3025

In [8]:
o3=Three()
o3.calcsquare(44)
o3.multiply(75,5)

square of 44 is 1936
multiplication of 75 and 5 is 375