<a href="https://colab.research.google.com/github/sparsh-kuwar/Core-python/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
places=['dhule','amrava','pune']
countries=('india','usa','jap')
places.append('manhattan')
print(places)
countries.append('australia')
print(countries)

['dhule', 'amrava', 'pune', 'manhattan']

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
nm=('sparsh','lewis hamilton','pagani')
print(type(nm))
print(nm[2:])
print(nm[::-1])
print(nm[-1])

<class 'tuple'>
('pagani',)
('pagani', 'lewis hamilton', 'sparsh')
pagani

In [ ]:
mix=('python',1891,13.9,False)
print(mix)
for value in mix:
  print(value)
  print(type(value))

('python', 1891, 13.9, False)
python
<class 'str'>
1891
<class 'int'>
13.9
<class 'float'>
False
<class 'bool'>

In [ ]:
t=('java','python',['microsoft','google','oracle'])
print(t)

('java', 'python', ['microsoft', 'google', 'oracle'])

In [ ]:
tp=('java','python',['microsoft','google','oracle'])
tp[2].append('mysql')
print(tp)

('java', 'python', ['microsoft', 'google', 'oracle', 'mysql'])

In [ ]:
n=(12,9,23,26,1,13) #int values
print(len(n))
print(max(n))
print(min(n))

6
26
1

In [ ]:
#uhbuygbugv7gtf6redte4sww3qew3qsae4xwcfr